In [1]:
import pandas as pd
df = pd.read_csv('indian_engineering_student_placement.csv')

In [2]:
df.head()

,Student_ID,gender,branch,cgpa,tenth_percentage,twelfth_percentage,backlogs,study_hours_per_day,attendance_percentage,projects_completed,...,aptitude_skill_rating,hackathons_participated,certifications_count,sleep_hours,stress_level,part_time_job,family_income_level,city_tier,internet_access,extracurricular_involvement
0,1,Male,ECE,8.74,74.0,75.0,0,3.8,71.1,7,...,5,4,5,6.5,8,Yes,Medium,Tier 2,Yes,Medium
1,2,Female,ECE,7.80,75.3,69.7,0,6.3,69.5,5,...,3,4,1,7.1,8,Yes,Medium,Tier 3,Yes,Low
2,3,Female,IT,6.95,62.8,68.3,0,1.5,62.5,8,...,4,6,3,6.1,2,No,Low,Tier 2,Yes,High
3,4,Male,ECE,7.46,57.9,51.4,1,4.7,64.6,6,...,4,2,2,7.3,7,No,Medium,Tier 1,Yes,Low
4,5,Male,IT,6.86,61.3,73.5,2,5.2,75.9,3,...,3,2,1,6.0,7,No,Medium,Tier 1,Yes,Medium

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Student_ID                   5000 non-null   int64
 1   gender                       5000 non-null   object
 2   branch                       5000 non-null   object
 3   cgpa                         5000 non-null   float64
 4   tenth_percentage             5000 non-null   float64
 5   twelfth_percentage           5000 non-null   float64
 6   backlogs                     5000 non-null   int64
 7   study_hours_per_day          5000 non-null   float64
 8   attendance_percentage        5000 non-null   float64
 9   projects_completed           5000 non-null   int64
 10  internships_completed        5000 non-null   int64
 11  coding_skill_rating          5000 non-null   int64
 12  communication_skill_rating   5000 non-null   int64
 13  aptitude_skill_rating        5000 non-null   int64
 14  hackathons_participated      5000 non-null   int64
 15  certifications_count         5000 non-null   int64
 16  sleep_hours                  5000 non-null   float64
 17  stress_level                 5000 non-null   int64
 18  part_time_job                5000 non-null   object
 19  family_income_level          5000 non-null   object
 20  city_tier                    5000 non-null   object
 21  internet_access              5000 non-null   object
 22  extracurricular_involvement  3994 non-null   object
dtypes: float64(6), int64(10), object(7)
memory usage: 898.6+ KB

In [5]:
print("\nMissing values:\n", df.isnull().sum())

Missing values:
 Student_ID                        0
gender                            0
branch                            0
cgpa                              0
tenth_percentage                  0
twelfth_percentage                0
backlogs                          0
study_hours_per_day               0
attendance_percentage             0
projects_completed                0
internships_completed             0
coding_skill_rating               0
communication_skill_rating        0
aptitude_skill_rating             0
hackathons_participated           0
certifications_count              0
sleep_hours                       0
stress_level                      0
part_time_job                     0
family_income_level               0
city_tier                         0
internet_access                   0
extracurricular_involvement    1006
dtype: int64

In [13]:
print(df.columns)

Index(['Student_ID', 'gender', 'branch', 'cgpa', 'tenth_percentage',
       'twelfth_percentage', 'backlogs', 'study_hours_per_day',
       'attendance_percentage', 'projects_completed', 'internships_completed',
       'coding_skill_rating', 'communication_skill_rating',
       'aptitude_skill_rating', 'hackathons_participated',
       'certifications_count', 'sleep_hours', 'stress_level', 'part_time_job',
       'family_income_level', 'city_tier', 'internet_access',
       'extracurricular_involvement'],
      dtype='object')

In [16]:
df.head()

,gender,branch,cgpa,tenth_percentage,twelfth_percentage,backlogs,study_hours_per_day,attendance_percentage,projects_completed,internships_completed,...,aptitude_skill_rating,hackathons_participated,certifications_count,sleep_hours,stress_level,part_time_job,family_income_level,city_tier,internet_access,extracurricular_involvement
0,Male,ECE,8.74,74.0,75.0,0,3.8,71.1,7,3,...,5,4,5,6.5,8,Yes,Medium,Tier 2,Yes,Medium
1,Female,ECE,7.80,75.3,69.7,0,6.3,69.5,5,1,...,3,4,1,7.1,8,Yes,Medium,Tier 3,Yes,Low
2,Female,IT,6.95,62.8,68.3,0,1.5,62.5,8,2,...,4,6,3,6.1,2,No,Low,Tier 2,Yes,High
3,Male,ECE,7.46,57.9,51.4,1,4.7,64.6,6,2,...,4,2,2,7.3,7,No,Medium,Tier 1,Yes,Low
4,Male,IT,6.86,61.3,73.5,2,5.2,75.9,3,3,...,3,2,1,6.0,7,No,Medium,Tier 1,Yes,Medium

In [23]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
df = pd.read_csv("indian_engineering_student_placement.csv")
print(df.head())
print(df.info())
print(df.describe())
df = df.drop(columns=["Student_ID"])
df = df.fillna(df.median(numeric_only=True))
scaler = StandardScaler()
scaled_data = scaler.fit_transform(df)
inertia = []
K = range(1, 10)
for k in K:
    kmeans = KMeans(n_clusters=k, random_state=42)
    kmeans.fit(scaled_data)
    inertia.append(kmeans.inertia_)
kmeans = KMeans(n_clusters=3, random_state=42)
df["Cluster"] = kmeans.fit_predict(scaled_data)
print(df["Cluster"].value_counts())

   Student_ID  gender branch  cgpa  tenth_percentage  twelfth_percentage  \
0           1    Male    ECE  8.74              74.0                75.0
1           2  Female    ECE  7.80              75.3                69.7
2           3  Female     IT  6.95              62.8                68.3
3           4    Male    ECE  7.46              57.9                51.4
4           5    Male     IT  6.86              61.3                73.5

   backlogs  study_hours_per_day  attendance_percentage  projects_completed  \
0         0                  3.8                   71.1                   7
1         0                  6.3                   69.5                   5
2         0                  1.5                   62.5                   8
3         1                  4.7                   64.6                   6
4         2                  5.2                   75.9                   3

   ...  aptitude_skill_rating  hackathons_participated  certifications_count  \
0  ...                      5                        4                     5
1  ...                      3                        4                     1
2  ...                      4                        6                     3
3  ...                      4                        2                     2
4  ...                      3                        2                     1

   sleep_hours  stress_level  part_time_job  family_income_level  city_tier  \
0          6.5             8            Yes               Medium     Tier 2
1          7.1             8            Yes               Medium     Tier 3
2          6.1             2             No                  Low     Tier 2
3          7.3             7             No               Medium     Tier 1
4          6.0             7             No               Medium     Tier 1

  internet_access extracurricular_involvement
0             Yes                      Medium
1             Yes                         Low
2             Yes                        High
3             Yes                         Low
4             Yes                      Medium

[5 rows x 23 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Student_ID                   5000 non-null   int64
 1   gender                       5000 non-null   object
 2   branch                       5000 non-null   object
 3   cgpa                         5000 non-null   float64
 4   tenth_percentage             5000 non-null   float64
 5   twelfth_percentage           5000 non-null   float64
 6   backlogs                     5000 non-null   int64
 7   study_hours_per_day          5000 non-null   float64
 8   attendance_percentage        5000 non-null   float64
 9   projects_completed           5000 non-null   int64
 10  internships_completed        5000 non-null   int64
 11  coding_skill_rating          5000 non-null   int64
 12  communication_skill_rating   5000 non-null   int64
 13  aptitude_skill_rating        5000 non-null   int64
 14  hackathons_participated      5000 non-null   int64
 15  certifications_count         5000 non-null   int64
 16  sleep_hours                  5000 non-null   float64
 17  stress_level                 5000 non-null   int64
 18  part_time_job                5000 non-null   object
 19  family_income_level          5000 non-null   object
 20  city_tier                    5000 non-null   object
 21  internet_access              5000 non-null   object
 22  extracurricular_involvement  3994 non-null   object
dtypes: float64(6), int64(10), object(7)
memory usage: 898.6+ KB
None
        Student_ID         cgpa  tenth_percentage  twelfth_percentage  \
count  5000.000000  5000.000000       5000.000000         5000.000000
mean   2500.500000     8.283798         74.537400           74.543060
std    1443.520003     1.008391         10.266752           10.244481
min       1.000000     5.000000         50.000000           50.000000
25%    1250.750000     7.610000         67.400000           67.600000
50%    2500.500000     8.320000         74.700000           74.800000
75%    3750.250000     9.020000         82.000000           81.700000
max    5000.000000    10.000000        100.000000          100.000000

          backlogs  study_hours_per_day  attendance_percentage  \
count  5000.000000          5000.000000            5000.000000
mean      0.343600             4.041120              72.041560
std       0.612547             1.967754               7.720029
min       0.000000             0.000000              44.700000
25%       0.000000             2.700000              66.600000
50%       0.000000             4.000000              72.050000
75%       1.000000             5.400000              77.200000
max       5.000000            10.000000              99.200000

       projects_completed  internships_completed  coding_skill_rating  \
count         5000.000000            5000.000000          5000.000000
mean             5.529400               2.132600             3.728600
std              2.053772               1.143713             1.278464
min              0.000000               0.000000             1.000000
25%              4.000000               1.000000             3.000000
50%              6.000000               2.000000             4.000000
75%              7.000000               3.000000             5.000000
max              8.000000               4.000000             5.000000

       communication_skill_rating  aptitude_skill_rating  \
count                 5000.000000            5000.000000
mean                     3.025400               4.116400
std                      1.412358               0.716208
min                      1.000000               1.000000
25%                      2.000000               4.000000
50%                      3.000000               4.000000
75%                      4.000000               5.000000
max                      5.000000               5.000000

       hackathons_participated  certifications_count  sleep_hours  \
count              5000.000000           5000.000000  5000.000000
mean                  3.704200              2.836000     6.955000
std                   1.603252              1.781724     1.147881
min                   0.000000              0.000000     4.000000
25%                   3.000000              2.000000     6.200000
50%                   4.000000              3.000000     7.000000
75%                   5.000000              4.000000     7.800000
max                   6.000000              9.000000     9.000000

       stress_level
count   5000.000000
mean       6.020200
std        2.851213
min        1.000000
25%        4.000000
50%        6.000000
75%        9.000000
max       10.000000

ValueError: could not convert string to float: 'Male'